<h1>Comment</h1>

<p><%= @comment.body %></p>
<small>Posted on <%= @comment.created_at.strftime("%b %d, %Y at %I:%M %p") %></small>

<div style="margin-top: 20px;">
  <%= link_to "Edit", edit_comment_path(@comment), class: "button-link" %>
  <%= link_to "Back", comments_path, class: "button-link" %>
  <%= button_to "Delete", @comment, method: :delete, data: { confirm: "Are you sure?" }, class: "button-link red" %>
</div>
